<h1>New Recipe</h1>
<form class="" action="/recipes" method="post">
  <p><label for="">Name:</label>
  <input type="text" name="name" value=""></p>
  <p><label for="">Ingredients:</label>
  <input type="text" name="ingredients" value=""></p>
  <p><label for="">Cook Time:</label>
  <input type="text" name="cook_time" value=""></p>
  <input type="text" name="" value="Submit">
</form>
